.img-circle {
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-color: crimson;
}
.team{
  margin: 60px;
  height: 60vh;
   text-align: center;
    line-height: 1.8;
    text-decoration: none;
  a{
    text-decoration: none;
  }

  h2{
    font-size: 36px;
    font-weight: bold;
    font-family: helvetica;
  }
}
