.img-circle {
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-color: crimson;
}

.team{
  margin: 60px;
  height: 60vh;
   text-align: center;
    line-height: 1.8;
    text-decoration: none;
  a{
    text-decoration: none;
  }

  h2{
    font-size: 36px;
    font-weight: bold;
    font-family: helvetica;
  }
  &:hover {
     color: darken($red, 20%);
     opacity: 0.8;
     h1, h2, p {
      font-size: 55px;
      color: $yellow;
     }
    }
}

.team-title{
  color:$red;
  font-size: 30px;
  font-weight: strong;
  margin-bottom: 30px;
  text-align: center;
}
